body{
    background: url("background.png");
}

.piano{
    position: absolute;
    top: 40%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.key{
    color: #eee;
    border: antiquewhite solid 3px;
    border-radius: 10px;
    padding: 10px
}

.key kbd{
    font-size: 50px;
    font-weight: bolder;
}

.key .sound{
    font-size: 30px;
    font-weight: bold;
}