body{
    background-color: antiquewhite;
    display: flex;
    margin: 0;
    font-family: "Gill Sans", sans-serif;
    font-size: 15px;
}

.sidebar{
    width: 15%;
    margin: 2%;
}

#menu{
    width: 50px;
}

#menu:hover{
    cursor: pointer;
}

#option{
    display: none;
    flex-direction: column;
    font-size: 20px;
}

#option > *:hover{
    color: orange;
    cursor: pointer;
}

.timer{
    position: absolute;
    left: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 2px;
    border-radius: 5px;
    width: 60%;
}

#time{
    font-size: 80px;
    font-weight: bold;
}

