body{
    background-color: antiquewhite;
    margin: 0;
    font-family: "Gill Sans", sans-serif;
    font-size: 15px;
    display:flex;
    flex-direction: row;
}

.sidebar{
    width: 15%;
    margin: 2%;
}

.menu, .play, .restart, .pause, .plus{
    width: 50px;
}

.menu:hover, .play:hover, .restart:hover, .pause:hover, .plus:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.pause{
    display: none;
}

.option{
    visibility: hidden;
    flex-direction: column;
    font-size: 20px;
    margin-bottom: 50px;
}

.option > *:hover{
    color: orange;
    cursor: pointer;
}

.note-tab{
    width: 25px;
    position: absolute;
    top: 0;
    right: -30px;
    writing-mode: vertical-rl;
    background-color: cadetblue;
    border-radius: 0 15px 15px 0;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.note-book{
    position: absolute;
    left: -120px;
    top: 40%;
    background-color: cadetblue;
    border-radius: 0 0 15px 0;
    padding:0;
    margin-right: 15px;
    min-height: 200px;
    width: 120px;
}

.note-book input{
    margin: 8px;
    width: 90px;
    min-height: 150px;
}

.timer{
    position: absolute;
    left: 20%;
    width: 60%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.displayer, .panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 2px;
    border-radius: 5px;
    box-shadow: 0 0 10px #888888;
    margin-bottom: 10px;
}

.panel{
    height: 400px;
}

#time{
    font-size: 100px;
    font-weight: bold;
}

.operation{
    margin:10px;
    display: flex;
    justify-content: space-around;
}
